body  
{  
    margin: 10; 
    padding: 0;
    background-color:rgb(65, 98, 183);  
    font-family: 'Arial';  
}  

.login{  
    width: 310px;
    overflow: hidden;  
    margin: auto;  
    margin: 20 0 0 250px;  
    padding: 40px;  
    border-radius: 15px ;  
}  

label{  
    color: #0ad8b2;  
    font-size: 17px;  
}  

#Username{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  

#Password{  
    width: 300px;  
    height: 30px;  
    border: none;  
    border-radius: 3px;  
    padding-left: 8px;  
}  

#log{
    width: 50%;
    height: 30px;
    right:-75px;
    position: relative;  
    border-radius: 17px;
    color: blue;  
}  

span{
    color: white;  
    font-size: 17px;  
}  

a{  
    float: center; 
    background-color: grey;  
}  
