{% extends 'root.html' %}

{% block title %}
Evac Center
{% endblock %}

{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-10 col-lg-8 mx-lg-auto mx-md-auto">

    <img src="static/fire.jpg"
      width="1024"
      height="170"/>

      <h1 class="pt-5 pb-2"><center>Welcome to the Evacuation Center Database!</center></h1>
      <hr style="width:50%", size="2.5", color=midnightblue>

      <h2 class="lead"><p style="color:midnightblue">How would you like to proceed?</p></h2> 

      <h3 class="lead">--> 1. <a href="{{ url_for('select_evacuee') }}">Select an evacuee</a></h3>

      <h3 class="lead">--> 2. Add a <a href="{{ url_for('form') }}">new evacuee</a></h3>
    </div>
  </div>
</div>

{% endblock %}